.Item {
	width: 150px;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 20px;
	margin: 10px;
}

.Item img {
	max-width: 100px;
	max-height: 100px;
}

.FunStuff {
	-webkit-animation : pulse 0.5s infinite;
    -moz-animation    : pulse 0.5s infinite;
    -o-animation      : pulse 0.5s infinite;
    animation         : pulse 0.5s infinite;
}
@keyframes pulse {
	from { transform: scale(5); opacity: 1;   }
	to   { transform: scale(1); opacity: 0.25; }
 }